@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: #f1f4f4;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
    padding: 2%;
    color: #565859;
}

#header {
    margin: 2% auto;
    background: #fff;
    border: 10px solid #000a5e;
}

#logo {

    max-width: 100%;
    background: rgb(3, 3, 85);
    margin: auto;
    width: 100%;
}

.banner {
    max-width: 800px;
    height: auto;
    margin: 0 auto;
}

h3 {
    margin: 2% auto;
    letter-spacing: 1%;
    font-weight: 500px;
    text-align: center;
}

p {
    padding-right: 3%;
    padding-left: 3%;
    text-align: justify;
    margin: 0% 2%;
}

ol {
    line-height: 180%;
    letter-spacing: 1%;
    padding-left: 5%;
    margin: 0% 2%;
}

.button {
    float: right;
    border-radius: 8px;
    background: #000a5e;
    color: white;
    font-size: 17px;
    padding: 5px;
    text-decoration: none;
}

.button:hover {
    background: #071aca;
    text-decoration: none;
}

.button-holder {
    float: right;
    padding: 12px;
    margin: auto 4%;
}

img {
    max-width: 100%;
    margin: auto;
}

.line {
    clear: both;
    margin: 4% auto;
    width: 90%;
    height: 2px;
    background-color: #E3E9E9;
}

.contact {
    text-align: center;
    margin: 2% auto;
}

#issuance {
    text-align: center;
}